body{
    margin: 0;
}
.first{
    height:30vh;
    margin: 10px;
    background-color: lightgrey;
    border-radius: 5px;
}
.second{
    display: flex;
    height:65vh;
    margin:10px;

}
.child1{
    height: 100%;
    width:80%;
    margin-right: 10px;
    background-color: lightgrey;
    border-radius: 5px;
}
.child2{
    height: 100%;
    width:20%;

    background-color: lightgrey;
    border-radius: 5px;

}

@media screen and (max-width:500px){
    body{
        margin:0;
        overflow: hidden;
    }
     .first{
         height:15vh;
         margin:25px;
         background-color: lightgrey;
         border-radius: 7px;


     }
    .second{
        height:75vh;
        margin:25px;
        display: flex;
        flex-direction: column;

    }
    .child1{
        height: 70%;
        width:100%;
        background-color: lightgrey;
        border-radius: 7px;


    }
    .child2{
        height: 20%;
width: 100%;
        background-color: lightgrey;
        border-radius: 7px;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}