


.parent {
     
     width: 100%;
     height: 500px;
     background-color: whitesmoke;
     display: flex;
     justify-content: space-around;
     margin: 10px;


 }

 .child {
      background-color: antiquewhite;
      width: 200px;
      height: 200px;
     margin:5px;
     display:flex ;
     justify-content: space-around;
     align-items:center;


 }

 .rubikPixels{
     font-family: 'Rubik Pixels', system-ui;
 }

 .Sedgwick{
     font-family: 'Sedgwick Ave Display', cursive;
 }

 .dancingScript{
     font-family: 'Dancing Script', cursive;
 }
 .fjallaOne{
     font-family: 'Dancing Script', cursive;
     font-family: 'Fjalla One', sans-serif;

 }
 .indieFlower{
     font-family: 'Dancing Script', cursive;
     font-family: 'Fjalla One', sans-serif;
     font-family: 'Indie Flower', cursive;
 }