 .parent {
     
     width: 100%;
     height: 500px;
     background-color: whitesmoke;
     display: flex;
     justify-content: space-around;
     margin: 10px;


 }

 .child {
      background-color: antiquewhite;
      width: 150px;
      height: 150px;
     transition: 1s;
     margin:5px;
     display:flex ;
     justify-content: space-around;
     align-items:center;


 }



