@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
body{
    margin:0;
}
.first{
    height: 100vh;
    background-image: url("figma1.jpg");

    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstChild{
    width: 70vw;
    height: 45vh;
    background-color: white;
    display: flex;
}
.title1{
    font-size: 45px;
    font-family: 'KoHo', sans-serif;
    margin-top: 20px;
}
 .content1{
    font-size: 25px ;text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
     font-family: 'KoHo', sans-serif;
     margin-top: 0;
}
.firstChild img{
    width: 50%;
    height: 100%;
}
.firstChild1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.firstChild1 button{
    width: 410px;
    height:75px;
    margin: 20px 0;
    font-family: 'KoHo', sans-serif;

}

.second{
    height: 100vh;
    background-image:url("Rectangle 4.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
iframe{
    margin-top: 70px;
    width: 60%;
    height: 50%;
}

.second>p{
    width: 60%;
    height: 20%;
    font-family: 'KoHo', sans-serif;
    font-size: 35px;
    margin-top: 30px;
}

.third{
    height: 100vh;
    background-image:url("Rectangle 4.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.thirdChild{
    width:30vw;
    height:80vh;
    background: rgba(83, 83, 83, 0.40);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

img {
    width: 90%;
}
.title{
    width:25%;
    text-align: center;
    font-size: 35px;
    font-family: 'KoHo', sans-serif;
}
.content{
    width: 90%;
    text-align: center;
    font-size: 35px;
    font-family: 'KoHo', sans-serif;
    margin-top: 0;
}
.price{
    width: 10%;
    font-size: 35px;
    font-family: 'KoHo', sans-serif;
}

button{
    width:90%;
    height: 9%;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: rgba(107, 102, 102, 1);
    text-align: center;
    font-size: 35px;

    font-family: 'KoHo', sans-serif;
}