

.parent{
    width: 30vw;
    height: 70vh;
    border: 1px solid lightgrey;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inst{
    height:10%;
    margin-top: 40px;
}

form{
    margin :0;
    height :25%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type="text"]{
    text-overflow: ellipsis;
    height :30%;
    width: 70%;
    margin-top: 5px;

}
button{
    margin-top: 18px;
    height :25%;
    width: 73%;
    opacity: 0.7;
    background-color: #699BF7;
    color: white;
   border: none;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
}
span{
    opacity: 0.8;
    color: #8A8484;
margin-top: -40px;
}
.img{
    height :4%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;


}
.img > img{

    height :100%;
    margin-top: -20px;

}
.img>a{

    text-decoration: none;
    color: #3b5998 ;
    margin-top: -18px;
}

.parent > a{
    text-decoration: none;
    color: #3b5998 ;
    margin-top: -60px;
}

footer{
    width: 30vw;
    height: 7vh;
    border: 1px solid lightgrey;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;


}
footer>p{
    width: 45%;
}
footer> a{
    text-decoration: none;
    margin-top: 16px;
    margin-left: -5px;
}